body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor:pointer;
    width: 35px;
    margin: 25px 0px;
    top: 10px;
  }
  
  .menu-icon div {
    width: 35px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.2s;
  }
  
  /* Transform the bars when the icon is toggled */
  .menu-icon.change .bar1 {
    transform: rotate(-270deg) translate(18px, 30px);
  }
  
  .menu-icon.change .bar2 {
    
    transform: rotate(-270deg) translate(3px, 15px);
  }
  
  .menu-icon.change .bar3 {
    transform: rotate(-270deg) translate(-10px, -2px);
  }
  .nav-menu {
    display: none;
    position: absolute;
    top: 106px;
    width: auto;
    height: 100%;
    background-color: #333;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 500;
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu ul li {
    padding: 15px;

  }
  
  .nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  .nav-menu.show {
    display:flex
  }
.navbar{
  margin: auto 0;
}


nav{
  background: blueviolet;
  display: flex;
  width: auto;
  position: relative;
  justify-content: space-between;
  text-align:center;
  padding: 2px 25px;
}

nav .icon{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  cursor: pointer;
  padding: 20px;
  margin: auto 0px;
}
nav ol{
  display: flex;
  list-style: none;
  margin:auto 0;
}

nav ol li a{
  color: rgb(251, 251, 251);
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px 15px;
  margin:auto 0px;
  text-align: left;
}
nav ol li a:hover{
  background: rgb(105, 119, 74);
  border-radius: 20%;
  text-align: center;
}

nav .search-bar{
  display: flex;
  margin: auto 0;
  height: 28px;
  line-height: 40px;
}

nav .search-bar input{
  border: none;
  outline:none;
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  border-radius: 20%;

}
.sin, .sout{
  border: 3px solid black;
  border-radius: 60%;
  background-color: aquamarine;
  
}