body{
    padding: 0px;
    border:4px solid rgb(0, 0, 0);
        
}
header h1 {
    color: rgb(252, 251, 251);
    font-size: 50px;
    top: 0;
}

.header{
    top:0px;
    background-color: #ae6244;
    text-align: center ; 
    color: rgb(233, 3, 91);
}

.pb{
    padding-left: 40px;
}